<div class="container">
    <div class="row">
      <div class="col-12">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th scope="col">Day</th>
              <th scope="col">Article Name</th>
              <th scope="col">Author</th>
              <th scope="col">Shares</th>
              <th scope="col">Actions</th>
              <th scope="col">Noted User</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Bootstrap 4 CDN and Starter Template</td>
              <td>Cristina</td>
              <td>2.846</td>
              <td>
                <button type="button" class="btn btn-primary"><i class="fa fa-eye" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-success"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
              <button type="button" class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i></button>
              </td>
              <td>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <!-- <label class="form-check-label" for="exampleCheck1">Check me out</label> -->
                  </div>
              </td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Bootstrap Grid 4 Tutorial and Examples</td>
              <td>Cristina</td>
              <td>3.417</td>
              <td>
                <button type="button" class="btn btn-primary"><i class="fa fa-eye" aria-hidden="true"></i></button>
                <button type="button" class="btn btn-success"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
              <button type="button" class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i></button>
              </td>
              <td>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <!-- <label class="form-check-label" for="exampleCheck1">Check me out</label> -->
                  </div>
              </td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Bootstrap Flexbox Tutorial and Examples</td>
              <td>Cristina</td>
              <td>1.234</td>
              <td>
                <button type="button" class="btn btn-primary"><i class="fa fa-eye" aria-hidden="true"></i></button>
                <button (click)="navigateWithParameters()" type="button" class="btn btn-success"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
              <button type="button" class="btn btn-danger"><i class="fa fa-times" aria-hidden="true"></i></button>
              </td>
              <td>
                <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <!-- <label class="form-check-label" for="exampleCheck1">Check me out</label> -->
                  </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-primary" (click)="openModal(template)">Create template modal</button>
 
  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Modal</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      This is a modal.
    </div>
  </ng-template>