<div class="container">
    <div class="row">
        <div class="col-md-12 min-vh-100 d-flex flex-column justify-content-center">
            <div class="row">
                <div class="col-lg-6 col-md-8 mx-auto">

                    <!-- form card login -->
                    <div class="card rounded shadow shadow-sm">
                        <div class="card-header">
                            <h3 class="mb-0">Login</h3>
                        </div>
                        <div class="card-body">
                            <form class="form" role="form" autocomplete="off" id="formLogin" novalidate=""
                                method="POST">
                                <div class="form-group">
                                    <label for="uname1" [ngModelOptions]="{standalone: true}"
                                        [(ngModel)]="sdasd">Username</label>
                                    <input type="text" class="form-control form-control-lg rounded-0" name="uname1"
                                        id="uname1" required="">
                                    <div class="invalid-feedback">Oops, you missed this one.</div>
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control form-control-lg rounded-0" id="pwd1"
                                        required="" autocomplete="new-password">
                                    <div class="invalid-feedback">Enter your password too!</div>
                                </div>
                                <div>
                                    <label class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input">
                                        <span class="custom-control-indicator"></span>
                                        <span class="custom-control-description small text-dark">Remember me on this
                                            computer</span>
                                    </label>
                                </div>
                                <button (click)="createUser()" type="submit" class="btn btn-success btn-lg float-right"
                                    id="btnLogin">Login</button>
                                <button>Update</button>
                            </form>
                        </div>
                        <!--/card-block-->
                    </div>
                    <!-- /form card login -->

                </div>


            </div>
            <!--/row-->

        </div>
        <!--/col-->
    </div>
    <!--/row-->
</div>
<!--/container-->

<table>
    <tr *ngFor="let item of suserData">
        <td>{{item.email}}</td>
        <td>{{item.first_name}}</td>
        <td> <button (click)="updateUser(item._id)">Update</button></td>

    </tr>
</table>